<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HashPass</title>
    <meta name="description" content="An application for generating strong passwords with a maximum length of 100
    characters, containing uppercase and lowercase Latin letters, natural numbers and special characters." />
    <meta name="keywords" content="password, generator, creator, strong, hash, uncrackable, powerful" />
    <meta name="author" content="Adrian Wojcik" />
  </head>

  <body>
    <h1>HashPass</h1>
    <br/>
    <h3>Please note, that the longer the password is, the harder it is to crack!</h3>

  </body>
</html>