<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HashPass</title>
    <meta name="description" content="An application for generating strong passwords with a maximum length of 100
    characters, containing uppercase and lowercase Latin letters, natural numbers and special characters." />
    <meta name="keywords" content="password, generator, creator, strong, hash, uncrackable, powerful" />
    <meta name="author" content="Adrian Wojcik" />

    <link rel="stylesheet" href="styles.css" type="text/css">

  </head>

  <body>

    <div id="container">

      <div id="logo">
        <h1>HashPass</h1>
      </div>

      <div id="ad">
      </div>

      <div id="content">
        <h3>Please note, that the longer the password is, the harder it is to crack!</h3>
      </div>

      <div id="add">
      </div>

      <div id="footer">
        This website is for learning purposes - do not use it! &copy; All rights reserved.
      </div>

    </div>

  </body>
</html>