body
{
    background-image: url("background.jpg");
    background-size: cover;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}
#container
{
    width: 1100px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #202020;
    color: lightgray;
    border-radius: 25px;
    border-style: solid;
    border-color: gray;
}
#logo
{
    text-align: center;
    padding: 20px;
    border-bottom-style: double;
    border-bottom-color: #31C48D;
}
#info
{
    text-align: center;
    padding: 10px;
}
#slider
{
    text-align: center;
    margin: 20px;
    height: 60px;
    width: 1080px;
}
#RangeSlider
{
    width: 70%;
    background-color: #31C48D;
}


#text
{
    font-size: 40px;
    padding: 10px;
    height: 60px;
    width: 780px;
    border-radius: 15px;
    border-style: double;
    border-color: #31C48D;

}

#engine
{
    text-align: right;
    padding: 10px;
    height: 80px;
    width: 880px;
    float: left;
}
#copy > button
{
    text-align: center;
    font-size: 70px;
    padding: 20;
    border-radius: 15px;
    border-style: double;
    border-color: #31C48D;
    color: #31C48D;
}

#button > button
{
    text-align: center;
    font-size: 40px;
    padding: 20;
    background-color: #31C48D;
    border-radius: 25px;
}

#copy
{
    text-align: left;
    padding: 10px;
    height: 80px;
    width: 180px;
    float: left;
}
#button
{
    text-align: center;
    padding: 10px;
    height: 60px;
    clear: both;
}
#padlock
{
    font-size: 100px;
    color: #31C48D;
    text-align: center;
    width: 178px;
    padding: 10px;
    height: 130px;
    border-right-style: dashed;
    border-width: 2px;
    border-color: #31C48D;
    float: left;
}

#passinfo
{
    text-align: left;
    color: #31C48D;
    padding: 10px;
    width: 880px;
    height: 130px;
    float: left;
}
#empty
{
    height: 90px;
    clear: both;
}

#footer
{
    align-item: flex-end;
    text-align: center;
    padding: 5px;
    clear: both;
    letter-spacing: 0px;
}