body
{
    background-image: url("background.jpg");
    background-size: cover;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}
#container
{
    width: 1100px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #202020;
    color: lightgray;
    border-radius: 25px;
    border-style: solid;
    border-color: gray;
}
#logo
{
    text-align: center;
    padding: 20px;
    border-bottom-style: double;
    border-bottom-color: #31C48D;
}
#info
{
    text-align: center;
    padding: 10px;
}
#SliderContainer
{
    height: 100px;
    width: 1100px;
    position: relative;
}

.sliderValue
{
    position: absolute;
    width: 40px;
    height 40px;
    background: red;
    font-weight: 900;
    top: 0;
    text-align: center;
    line-height: 45px;
    font-size: 20 px;
    font-weight: bold;
    border-radius: 15px;
}


.slider {
  -webkit-appearance: none;
  width: 700px;
  height: 10px;
  background: white;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #31C48D;
  cursor: pointer;
  border-radius: 50%;
}
.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #31C48D;
  cursor: pointer;
}

#text
{
    font-size: 40px;
    padding: 10px;
    height: 40px;
    width: 780px;
    border-radius: 15px;
    border-style: double;
    border-color: #31C48D;
}

#engine
{
    text-align: right;
    padding: 10px;
    height: 0px;
    width: 880px;
    float: left;
}
#copy > button
{
    text-align: center;
    font-size: 50px;
    padding: 20;
    border-radius: 15px;
    border-color: #31C48D;
    color: #31C48D;
    cursor: pointer;
}
#copy > button:hover
{
    text-shadow: 0 0 0.10em #a2f2dd;
    box-shadow: 0 0 0.25em 0 white;
}

#button > button
{
    text-align: center;
    font-size: 40px;
    padding: 20;
    background-color: #31C48D;
    border-radius: 25px;
    cursor: pointer;
    border-color: #31C48D;
}
#button > button:hover
{
    text-shadow: 0 0 0.10em #a2f2dd;
    box-shadow: 0 0 0.5em 0 #31C48D;
}

#copy
{
    text-align: left;
    padding: 10px;
    height: 80px;
    width: 180px;
    float: left;
}
#button
{
    text-align: center;
    padding: 10px;
    height: 60px;
    clear: both;
}
#padlock
{
    font-size: 100px;
    color: #31C48D;
    text-align: center;
    width: 178px;
    padding: 10px;
    height: 130px;
    border-right-style: dashed;
    border-width: 2px;
    border-color: #31C48D;
    float: left;
}

#passinfo
{
    text-align: left;
    color: #31C48D;
    padding: 10px;
    width: 880px;
    height: 130px;
    float: left;
}
#empty
{
    height: 70px;
    clear: both;
}

#footer
{
    align-item: flex-end;
    text-align: center;
    padding: 5px;
    clear: both;
    letter-spacing: 0px;
}