body
{
    background-image: url("background.jpg");
    background-size: cover;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}
#container
{
    width: 1100px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #202020;
    color: lightgray;
    border-radius: 25px;
    border-style: solid;
    border-color: gray;
}
#logo
{
    text-align: center;
    padding: 20px;
    border-bottom-style: double;
    border-bottom-color: #31C48D;
}
#info
{
    text-align: center;
    padding: 22px;
    width: 1056px;
    height: 70px;
    font-size: 26px;
    color: #FF9999;

}
#quote
{
    margin-top: 30px;
}


#SliderContainer
{
    height: 100px;
    width: 1100px;
    position: relative;
}

output {
  position: absolute;
  background: #31C48D;
  width: 40px;
  height: 30px;
  text-align: center;
  color: black;
  border-radius: 10px;
  display: inline-block;
  font: bold 22px Georgia;
  bottom: 175%;
  left: 0;
}

output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #31C48D;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
#slider
{
   -webkit-appearance: none;
   height: 10px;
   width: 700px;
   background: white;
   outline: none;
   border-radius: 50px;
   cursor: pointer;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
}
#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #31C48D;
  cursor: pointer;
  border-radius: 50%;
}
#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #31C48D;
  cursor: pointer;
}

form { position: relative; margin-left: 150px; margin-right: 350px; width: 1100px; top: 60%;  }



#text
{
    font-size: 40px;
    padding: 10px;
    height: 40px;
    width: 780px;
    border-radius: 15px;
    border-style: double;
    border-color: #31C48D;
}

#engine
{
    text-align: right;
    padding: 10px;
    height: 0px;
    width: 880px;
    float: left;
}
#copy > button
{
    text-align: center;
    font-size: 50px;
    padding: 20;
    border-radius: 15px;
    border-color: #31C48D;
    color: #31C48D;
    cursor: pointer;
}
#copy > button:hover
{
    text-shadow: 0 0 0.10em #a2f2dd;
    box-shadow: 0 0 0.25em 0 white;
}

#button > button
{
    text-align: center;
    font-size: 40px;
    padding: 20;
    background-color: #31C48D;
    border-radius: 25px;
    cursor: pointer;
    border-color: #31C48D;
}
#button > button:hover
{
    text-shadow: 0 0 0.10em #a2f2dd;
    box-shadow: 0 0 0.5em 0 #31C48D;
}

#copy
{
    text-align: left;
    padding: 10px;
    height: 80px;
    width: 180px;
    float: left;
}

#button
{
    text-align: center;
    padding: 10px;
    height: 60px;
    clear: both;
}
#padlock
{
    font-size: 100px;
    color: #31C48D;
    text-align: center;
    width: 178px;
    padding: 10px;
    height: 130px;
    border-right-style: dashed;
    border-width: 2px;
    border-color: #31C48D;
    float: left;
}

#passinfo
{
    text-align: left;
    color: #31C48D;
    padding: 20px;
    width: 860px;
    height: 110px;
    float: left;
    font-size: 26px;
}
#empty
{
    height: 50px;
    clear: both;
}

#footer
{
    align-item: flex-end;
    text-align: center;
    padding: 5px;
    clear: both;
    letter-spacing: 0px;
}